body {
  width: 400px;
  color: #444;
}

header > div {
  background-color: #444;
  color: #fff;
  padding: 3px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

.view {
  margin: 10px 0;
}

.action {
  padding: 3px;
  color: #444;
}

.action:hover {
  background-color: #eee;
  cursor: pointer;
}

.action.active {
  background-color: #444;
  color: #fff;
}

footer {
  margin-top: 10px;
}

table {
  font-size: 10px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.fa {
  cursor: pointer;
}

.fa:hover {
  text-shadow: 0 0 7px rgba(0,0,0, 0.5);
}

.blue {
  color: #009;
}

.red {
  color: #900;
}